:root {
    --background-color: hsl(212, 45%, 89%);
    --primary-font-color: hsl(218, 44%, 22%);
    --secondary-font-color: hsl(220, 15%, 55%);
    --secondary-background-color: hsl(0, 0%, 100%);  
}

* {
   margin: 0;
   padding: 0;
   font-family: "Outfit", sans-serif;
   color: var(--secondary-font-color);
   font-size: 15px;
   font-weight: 400;
   text-align: center;
}

body{
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    background-color: var(--secondary-background-color);
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 280px;
}

img{
    max-width: 100%;
    border-radius: 10px;
}

h1 {
    color: var(--primary-font-color);
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding: 10px 8px;
}